@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");

/* font-family: 'Road Rage', cursive; */
.container-detail {
  background-color: rgba(241, 233, 233, 0.476);
  height: auto;
  .content-detail {
    margin-top: 140px;
    padding: 80px;
    .header-detail {
      font-size: 30px;
      font-weight: bold;
      color: rgba(19, 12, 12, 0.687);
      text-align: center;
      padding: 20px 300px 20px 0px;
    }
    .top {
      display: flex;
      margin-bottom: 20px;
      .left {
        width: 50%;

        .imgtour {
          width: 100%;
          height: 400px;
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: 6px 6px 9px 1px #0000008a;
        }
        .hotel-titlee {
          p {
            padding-top: 20px;
            color: #222;
            font-size: 25px;
            font-weight: bold;
          }
          p.descript-hotel {
            color: rgba(68, 68, 68, 0.891);
            font-size: 18px;
          }
        }
      }
      .right {
        width: 50%;
        padding: 30px;
        .img-carosel-hotel {
          padding-top: 50px;
        }
        .place {
          color: rgba(20, 20, 20, 0.87);
          // font-family: "Roboto", sans-serif;
          font-size: 24px;

          // font-family: "Road Rage", cursive;
          font-family: "Road Rage", cursive !important;
        }
        .img-hotel-detail {
          width: 100% !important;
          height: 350px;
          object-fit: cover;
          border-radius: 50px;
          border: 2px solid rgba(0, 128, 0, 0.673);
        }
        .book-tour {
          width: 116px;
          height: 45px;
          color: #fcc940;
          font-size: 20px;
          border-radius: 6px;
          margin: 20px 0;
          background: #07ae24;
        }
      }
    }
    .bottom {
      display: flex;
      .left {
        background: rgba(221, 214, 214, 0.252);
        // border-top: 1px solid gray;
        width: 70%;

        padding: 60px 20px 20px 20px;
        img {
          width: 100%;
          height: 700px;
          // object-fit: center;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
        .descript-tour-content {
          color: #444444;
          font-family: "Road Rage", cursive;
          font-size: 20px;
          // font-family: "Roboto", sans-serif;
        }
      }

      .right {
        width: 30%;
        padding: 30px;
        margin-left: 20px;
        // border-left: 1px solid gray;
        // border-top: 1px solid gray;
        background: rgba(221, 214, 214, 0.252);

        .comment-tour {
          margin: 10px;
          input.star-rating {
            display: none;
          }
          .star-star {
            cursor: pointer;
            transition: all 0.2;
            // color: red !important;
          }
          .lableabc {
            padding-right: 17px;
            color: rgb(10, 164, 10);
            font-weight: bold;
          }
          .anh {
            display: none;
          }
          .tieude {
            font-weight: 600;
          }
          .imgtourr {
            width: 100px;
            height: 100px;
            background-repeat: no-repeat;
            background-size: cover;
          }
          i {
            font-size: 45px;
          }
          input#bdaymonth {
            width: 153px;
            border-radius: 5px;
            margin-left: 47px;
          }
          textarea {
            width: 100%;
            height: 50px;
            padding: 8px;
            margin: 5px 0;
            border: 1px solid #008a09;
            border-radius: 6px;
          }
          label.lableabcanh {
            width: 60px;
            margin-left: 300px;
          }
          .labelTitle {
            font-weight: bold;
            padding-bottom: 5px;
            margin-top: 11px;
          }
          input.titleComment {
            border: 1px solid #008a09;
            border-radius: 6px;
            padding: 8px;
            margin: 5px 0;
            width: 100%;
          }

          button {
            width: 75px;
            height: 35px;
            font-size: 18px;
          }

          .container-comment-box {
            display: flex;
            // justify-content: space-between;
            border-bottom: 1px solid #9999995f;
            .leftt {
              align-items: center;

              img {
                margin-top: 10px;
                width: 50px;
                height: 50px;
                border-radius: 50%;
              }
            }
            .rightt {
              padding-left: 15px;
              i {
                color: rgb(255, 132, 0);
                font-size: 18px;
                // font-weight: bold;
                padding: 0;
                margin: 0;
              }
              p.descript {
                padding: 0;
                margin: 0;
                color: rgb(54, 53, 53);
                font-size: 20px;
                font-family: "Road Rage", cursive;
              }
            }
          }
        }
      }
    }
  }
}
